.aside {
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
    height: 100vh;
    position: fixed;
    top: 0;
    left: -15rem;
    width: 15rem;
    z-index: 40;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 150ms;
}
.aside-tools {
    --tw-bg-opacity: 1;
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 0%;
    height: 3.5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    width: 100%;
}
.navbar {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity));
    border-bottom-width: 1px;
    display: flex;
    height: 3.5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    z-index: 30;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 150ms;
}
.navbar-brand {
    display: flex;
    align-items: stretch;
    flex: 1 1 0%;
    height: 3.5rem;
}
.navbar-brand.is-right {
    flex: none;
}
.navbar-menu {
    max-height: calc(100vh - 3.5rem);
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity));
    border-bottom-width: 1px;
    display: none;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 3.5rem;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    width: 100vw;
}
.font-black {
    font-weight: 900;
}
b, strong {
    font-weight: bolder;
}
.menu-label {
    font-size: .75rem;
    line-height: 1rem;
    padding: .75rem;
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
    text-transform: uppercase;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}